@function colors($color, $type: base) {
  $colors: (
    color: (
      base: #008eff,
      primary: #ff4503,
      second: #ac0ce8,
      accent: #0ce827,
      decorate: #ffdb0d,
      text: #000
    )
  );
  $coloreturn: map-get($colors, $color);
  @return map-get($coloreturn, $type);
}

@function pxtorem($px) {
  @return ($px / 16) + rem;
}
